<div class='thumbnail' ng-click='loadClip(clip)' ng-class='{selected: selectedClip==clip}'>
  {{title}}
  <img ng-src='{{thumbnail(clip)}}'/>
  <span>
    <rating ng-model='clip.rating' readonly='true'></rating>
    {{clip.rating}}
  </span>
</div>