<div id='filter-bar' class="panel panel-default">
  <div class="panel-heading">Filters</div>
  <ul class="list-group">
    <ng-include src="'partials/application-filter.html'" ng-controller='ApplicationFilterCtrl'>
    </ng-include>
    <ng-include src="'partials/misc-filter.html'" ng-controller='MiscFilterCtrl'>
    </ng-include>
    <ng-include src="'partials/typeahead-filter.html'"  ng-controller='UserFilterCtrl'>
    </ng-include>
    <ng-include src="'partials/typeahead-filter.html'" ng-controller='ToolFilterCtrl'>
    </ng-include>
  </ul>
</div>