<h3>{{title}}</h3>
<div ng-switch="player.status">
  <div ng-switch-default>
    <ng-include src="'partials/loading.html'"></ng-include>
  </div>
  <div ng-switch-when="ready">
    <div id="player" fullscreen='player.isFullscreen'>
      <div id="panel" ng-click='toggleFullscreen()'>
        <div id='overlay' ng-hide='(player.editMode || player.isFullscreen)'>
      Click to toggle fullscreen
        </div>
        <img id='keyboardOverlay' ng-if='kbdOverlay.enabled'
             ng-hide='player.editMode || kbdOverlay.mode == 3 || player.isCropping'
             ng-src="{{ getImage(kbdOverlay.images[kbdOverlay.status][kbdOverlay.mode % 3], 'png') }}"/>
        <div class="img-container">
          <img id="frameLoc" class='img-responsive' ng-src="{{ getImage(clip.frames[player.pos]) }}"/>
        </div>
      </div>
      <div id="controlPanel" ng-class="{fullscreen: player.isFullscreen}">
        <button id='playBtn' ng-click="togglePlaying()">
          <span class='glyphicon' ng-class="{'glyphicon-play': !player.playing, 'glyphicon-pause': player.playing}"></span>
        </button>
        <div id='sliders'>
          <div ng-mousedown="player.playing = false">
            <slider floor='0' ceiling='{{clip.end}}' step='1' ng-model='player.pos' ng-change='posChange()'>
            </slider>
          </div>
          <div ng-controller='EditSliderCtrl' ng-if='player.editMode'>
            <slider floor='0' ceiling='{{clip.frames.length -1}}' step='1'
                    ng-model='clip.start' ng-model-range='clip.end'>
            </slider>
          </div>
        </div>
        <div ng-switch='player.editMode'>
          <div ng-switch-when='false'>
            <div id='overlayMode' ng-if='kbdOverlay.enabled'
                 tooltip="{{kbdOverlay.tooltip[kbdOverlay.mode]}}" tooltip-placement='right'>
              <img class='img-responsive' ng-src="{{'images/' + kbdOverlay.images['active'][kbdOverlay.mode] + '.png'}}" ng-click='toggleKeyboardOverlay()'/>
            </div>
          </div>

          <button id='cropBtn' ng-switch-when='true' tooltip="Crop" tooltip-placement='right'>
            <img class='img-responsive' src='images/crop.png' ng-click="crop()"/>
          </button>
        </div>
      </div>
      <div ng-controller='RatingCtrl' id='rating' ng-show='!player.editMode && clip.origin == "external"'>
        <rating ng-model='score'></rating>
      </div>
    </div>    
  </div>
</div>