
<div>
    <div ng-controller="RecordingCtrl">
        <h2>Recording Status</h2>       
        <button class="btn no-outline {{recordingStatus() ? 'btn-danger' : 'btn-default'}}" ng-model="recordingStatus" btn-checkbox ng-model-options="{getterSetter:true}">
            {{recordingStatus() ? "Stop": "Start"}} Recording
        </button>
    </div> 
      
     <h2>Requests you have made</h2>
     <ul id="requestList" class="list-group">
        <li ng-repeat="request in sentNotifications" ng-attr-title="Created: {{request.created | date : 'medium'}} Last updated: {{request.updated | date : 'medium'}}" class="list-group-item">
        <button class="badge btn btn-danger" ng-click="deleteRequest(request)">Delete</button>
            <span ng-if="getBadgeText(request) !== undefined" class="badge">
              {{getBadgeText(request)}}
            </span>
            {{request.message}}
            <ul ng-show="request.shared_videos.length > 0">
            <li ng-repeat="shared_video in request.shared_videos track by $index">
                <a ng-href="{{shared_video}}">{{"Example " +($index +1)}}</a>
                </li>
            </ul>

        </li>
     </ul>

     <h2>Notifications for you</h2>     
     <ul id="notificationList" class="list-group">
        <li ng-repeat="request in receivedNotifications" ng-attr-title="Created: {{request.created | date : 'medium'}} Last updated: {{request.updated | date : 'medium'}}" class="list-group-item">
        {{request.message}}
        <a class="badge btn-primary" ng-if="getShareLink(request) !== undefined" ng-href="{{getShareLink(request)}}">Respond</a>
        <span ng-if="getBadgeText(request) !== undefined" class="badge">{{getBadgeText(request)}}</span>
        </li>
     </ul>
</div>