<div id='tool-list' class="panel panel-default">
  <div class="panel-heading">Tools
	<ng-include src="'partials/ordering.html'" ng-controller='OrderCtrl'>
      </ng-include>
  </div>
  <div ng-if="enabled()">
  <ul class="list-group" when-scrolled='scroll()'>
    <li class="list-group-item" ng-repeat='tool in tools.$object | filter:filters.toolFilter
        | orderBy:ordering.field:ordering.reverse | limitTo:limit'>
      <ng-include src="'partials/tool-block.html'" ng-controller='ToolBlockCtrl'>
      </ng-include>
	  
    </li>
  </ul>
  </div>
  <div ng-if="!enabled()">
  {{getText()}}
  </div>
</div>
